<ion-header no-border>
  <ion-toolbar color="Redish">
    <ion-navbar right>
      <ion-title>{{toUser.name}}</ion-title>
      <ion-buttons end>
<!--        <button ion-button color="primary" (click)="UpdateList()">
         <ion-title>{{source}}</ion-title>
        </button>-->
        <div (click)="UpdateList()"><ion-badge  class="BigBadge" item-end color="{{source=='cache'?'danger':'light'}}">{{source}}</ion-badge></div>
<!--
        <ion-spinner name="crescent" left  [paused]="msgList.length!=0"></ion-spinner>
-->
      </ion-buttons>
    </ion-navbar>

  </ion-toolbar>
  <!--<ion-buttons left>
    <button ion-button color="light" menuToggle icon-only="" clear>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>{{ "BESTOFFERS"  | translate }} </ion-title>
  <ion-buttons end>
    <button ion-button color="light" icon-only="" clear (click)="SearchModal()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>-->

</ion-header>

<ion-content>

    <div class="message-wrap">

        <div *ngFor="let msg of msgList"
             class="message"
             [class.left]=" msg.userId === toUser.id "
             [class.right]=" msg.userId === user.id ">
            <img class="user-img" [src]="msg.userAvatar" alt="" src="">
            <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
                </div>
                <div class="msg-content" (click)="OpenLink(msg.message,msg)" (press)="tapEvent(msg.message)">
                    <span class="triangle"></span>
                    <p class="line-breaker ">{{msg.message}}</p>
                </div>
            </div>
        </div>

    </div>

</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'" *ngIf="source!='cache'">
    <ion-grid class="input-wrap">
        <ion-row>
            <ion-col col-2>
                <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
                    <ion-icon name="md-happy"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-6>
                <ion-textarea #chat_input
                              placeholder="Text Input"
                              [(ngModel)]="editorMsg"
                              (keyup.enter)="sendMsg()"
                              (ionFocus)="onFocus()">
                </ion-textarea>
            </ion-col>
            <ion-col col-4>

                <button item-left="" ion-button clear icon-only (click)="sendMsg()" style="width: auto;">
                  <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
                </button>
                <button style="width: auto;">
                  <label for="fileupload" ion-button clear icon-only item-left no-padding >
                    <ion-icon name="ios-document" ios="ios-document" md="md-document"></ion-icon>
                    <input hidden type="file" id="fileupload" (change)="uploadfile($event)" >
                  </label>
                </button>

            </ion-col>
        </ion-row>
    </ion-grid>
    <emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="editorMsg"></emoji-picker>
</ion-footer>
