<!--<splash [splash]="splash"></splash>-->

<ion-header no-border>
  <ion-navbar color="Redish">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item navPush="Chat"
              [navParams]="toUser">
      <ion-avatar item-left>
        <img src="./assets/to-user.jpg">
      </ion-avatar>
      <h2>Hancock</h2>
      <p>If at first you don’t succeed, call it version 1.0</p>
    </ion-item>
    <ion-item >
      <div class="LoadingItem" [@slideInOut]="BTCValue?'out':'in'">
        <img src="./assets/MELOADERl.gif" class="LoadingItemImg" >
      </div>
      <ion-avatar  item-left>
        <img src="./assets/btc.png">
      </ion-avatar>
      <h2 *ngIf="BTCValue">BTC => {{BTCValue.ticker.High}} USD</h2>
      <p *ngIf="BTCValue" >Refreshed on : {{BTCValue.ticker.Timestamp | date: 'dd/MM/yyyy'}} | {{BTCValue.ticker.Timestamp | relativeTime}}</p>

      <ion-spinner *ngIf="BTCValue" name="ios" (click)="RefreshBTC()" item-end [paused]="SpinnerStatus"></ion-spinner>
    </ion-item>
<!--    <ion-item *ngIf="!BTCValue" class="LoadingItem" [@slideInOut]="BTCValue?'out':'in'">

    </ion-item>-->
    <ion-item (click)="CompareCurrencies()">
      <ion-avatar item-left>
        <img src="./assets/btc.png">
      </ion-avatar>
      <h2>Compare Currencies</h2>
      <p>Pick The Currency you want to compare with others</p>
    </ion-item>
  </ion-list>
</ion-content>
